// Brand Colors
$brandPrimary: #116ACC;
$brandSecondary1: #182233;
$brandSecondary2: #B3CEE2;
$brandSecondary3: #D9DDE7;
$brandSecondary4: #FD4E5D;

// Gray Colors
$black: #000;
$gray1: #1F2937;
$gray2: #374151;
$gray3: #4B5563;
$gray4: #6B7280;
$gray5: #9CA3AF;
$gray6: #F3F4F6;
$gray7: #d8dada;
$white: #fff;

// System
$info: #A0C3FF;
$success: #76CA66;
$warning: #FBC756;
$error: #BA0000;

$shadow: 0px 5px 20px #00000040;

// images
$arrowFilter: url('../images/filter-arrow.svg');
$arrowRed: url('../images/red-arrow.svg');
$arrowGreen: url('../images/green-arrow.svg');
$backArrow: url('../images/back-arrow.svg');
$eyeOpen: url('../images/eye_open.svg');
$eyeClose: url('../images/eye_closed.svg');
$plus: url('../images/plus.svg');
$mail: url('../images/mail.svg');
$cross: url('../images/close.svg');
$checked: url('../images/checked.svg');
$spinner: url('../images/spinner.svg');
$filter: url('../images/filter.svg');
$warning: url('../images/warning.svg');
